<body>
  <div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container"> <!-- You need this DIV for alignment -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">Note APP</a>
      </div>
      <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
          <li><a href="#">Home</a></li>
          <li><a href="#">Features</a></li>
        </ul>
        <div class="navbar-right">
          <ul class="nav navbar-nav">
            <li><a (click)="addNote()" class="btn btn-primary"> Add Note</a></li>
          </ul>
        </div>
      </div><!--/.navbar-collapse -->
    </div>
  </div>
</body>

